<div class="row" style="margin-right: ;margin-left: ;">
    <div class="col-lg-12" style="background-color: rgb(73, 46, 46); ;">
        <div class="row">
            <div class="col-lg-3">
                 <h1><a href="/" style="color: white;margin-left:9% ">DeoStore</a>
            </h1 >
            </div>

            <div class="col-lg-6">
                <div class="input-group" style="padding-top: 3%;">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                        aria-describedby="search-addon" />
                    <button type="button" class="btn btn-danger" style="background-color: rgb(73, 46, 46); ">search</button>
                </div>
            </div>


            <div class="col-lg-3" style="padding-left: 10%;">

                <div class="dropdown show" style=" height: ; max-width: 20%;">
                    <a style="background-color:rgb(73, 46, 46);" class="btn btn-secondary dropdown-toggle"
                        href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span><img style="width: 35%; margin-bottom: ;" src="images/NicePng_chen-png_3026464.png"
                                alt=""></span><br> <span style="margin-left: 13%;">Logged</span>
                    </a>

                    <div style="background-color:rgb(73, 46, 46); margin-right: 70px;  width: 10ch% "
                        class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a style="background-color:rgb(73, 46, 46) ;" class="dropdown-item" href="/UserProfile">MyAccount</a>
                        <a class="dropdown-item" href="/Logout">Logout</a>

                    </div>
                </div>

            </div>


        </div>

    </div>
</div>


<div class="row" style="margin-left: 1%; margin-top:1% ;   " >
    
    <div class="col-lg-8" style="background-color: white;" >
        <div class="row">
            <div class="col-lg-1" style=" ;" >
             <div style="background-color: darkgray; margin-top: 19%;"><span style="margin-left: 35%; color: blue;">1</span></div>

            </div>

                <div class="col-lg-1" style="margin-top: 0.5%; "><h4 style="color: darkgray;">LOGIN</h4></div>
                <div class="col-lg-1"  style="margin-left: 2%;"><h3 style="height: 1%; color:green ;" >✓</h3></div>
           
             <div class="col-lg-8" style="margin-top: 1%;"><button style="float:right ; border-radius:20% ; background-color: white; border-color:  rgba(173, 2, 2, 0.788);">Change</button></div>
        </div>


    </div>


    </div>



<div class="row" style="margin-left: 1%; margin-top:1% ;">
    <div class="col-lg-8" style="background-color: rgb(73, 46, 46);  ;">
        <div class="row">
            <div class="col-lg-1">
                <div style="background-color: rgba(221, 58, 58, 0.507); margin-left:10% ; margin-top: 19%;"><span  style="color: white; margin-left:30% ;">2</span></div>
            </div>
            <div class="col-lg-6"><h4 style="color: white;">DELIVERY ADDRESS</h4></div>
        </div>

                  
                    <form action="">
                        <div class="row" style=" ">
                    <div class="col-lg-7" style="background-color:white ;  border-color: rgb(209, 28, 28);" ><p>{{User.Name}}<hr>{{User.Number}}
                     <hr>{{User.Pincode}} <hr>{{User.Locality}} <hr>{{User.Address}} <hr>{{User.City}} 
                      <hr>{{User.State}}  <hr>{{User.State}} <hr></p></div>
                    <div class="col-lg-4" style="background-color: white; border-color: black; "><input type="radio" value="1"></div>
                    <div class="col-lg-1" style="background-color: white;"> <a href="/PaymentPage" style="border-radius: 10%; border: 6ch; background-color:white"><h6 style="color: black;">Submit</h6></a></div>
                    </div>
                    </form>
                     
                <div class="row">
                  
                    <div class="col-lg-3"><button id="hide" style="border-radius: 18%; background-color: white;">+Add New Address</button></a></div>
                </div>

                    </div>

                    
                 
        </div>

        <div class="row" style="margin-left: 1%; margin-top: 1%; padding-top: 0.2%; " >
            <div class="col-lg-8" style="background-color: white; padding-top: 2%;padding-bottom: 2%;"> 
                <form action=" /Address" id="form" style="" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="row">
                        <div class="col-lg-6"><input style="" type="text" placeholder="Name" name="Name"></div>
                        <div class="col-lg-6"><input type="number" placeholder="PhoneNumber" name="Number"></div>
                    </div>
                     <div class="row">
                        <div class="col-lg-6"><input type="text" placeholder="Pincode" name="Pincode"></div>
                        <div class="col-lg-6"><input type="text" placeholder="locality" name="Locality"></div>
                    </div>
                      <div class="row">
                        <div class="col-lg-6"><input style="height: 200%;" type="text" placeholder="Address" name="Address"></div>
                      <div class="col-lg-6"><input type="text" placeholder="City/Town/Dist" name="City"></div>
                    </div>
                     <div class="row" style="margin-top: 4%;">
                      
                        <div class="col-lg-6"><input type="text" placeholder="State" name="State"></div>
                    </div>

                    <div class="row" style="margin-top: 2%;">
                          <div class="col-lg-3"> home (All day delivery)  <input type="radio" name="radAnswer" id="" value="Home"></div>
                          <div class="col-lg-4"> work(Delivery between 10AM-5PM) <input type="radio" name="radAnswer" value=" Work"></div>
                    </div>

                     <button style="text-align: center; margin-left: 30%; border-radius:20% ; background-color: white;" type="submit" >Save</button>



                </form>
            </div>
            
        </div>


<script>
    $(document).ready(function(){
  
  $("#hide").click(function(){
    $("form").show().css("display","inline")
     
  });
});

 function PaymentPage(){
    
 }
</script>