<h1>choose</h1>
 
  <div> <button ><a href="/EditAddress">Edit</a></button></div>

<p>
    <div style="background-color: #FF007F
    ; width: 30%;">{{Address.Address.Name}} <br>
       {{Address.Address.Phonenumber}} <br>
       {{Address.password}}
    </div>
</p>
   <div>
     {{#each Address.Product}}
     <p>{{product.product.name}}</p>
     <p>{{this.quantity}}</p>
      
  <img src="/images/{{product.Image.[0]}}" alt="">
     {{/each}}
   </div>
   <p>TotalPrice{{Address.Product.[0].TotalPrice}}</p>  

    <br>
    <a href="/PaymentPage" class="btn btn-danger">PlceOrder</a>
