<div class="row" style="margin-right: ;margin-left: ;">
   
  
<div class="col-lg-12 col-sm-12" style="background-color: rgb(73, 46, 46);">
    <div class="row">
        <div class="col-lg-3 col-sm-3">
            <h1><a href="/" style="color: white;">DeoStore</a>
            </h1 >
        </div>

        <div class="col-lg-4 col-sm-3">
            <div class="input-group" style="padding-top: 3%;">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
              <button style="background-color:  rgb(73, 46, 46);color: white;">Search</button>
            </div>
        </div>

        <div class="col-lg-3 col-sm-3">
            <div class="row">
                <div class="col-lg-12 col-sm-12" style="padding-top:0px ;">
                    <button  type="button  "
                        style=" margin-top: 2%; background-color:  rgb(73, 46, 46);border-color:white;  cursor: pointer; border-radius: 10%;  color:white ;">
                        <svg style="color:white ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                        <span class="badge badge-light">9</span>
                        <br><a href="/cart-page" style="color: aliceblue ;"> Cart</a>
</button>
                        <button class="y" style="  border-color: aliceblue; border-radius: 10%; position: relative;
                 
                 
                 ; background-color:rgb(73, 46, 46); ; margin-left: 59px; color:white ;" type="button">
                            <span style="  color:white ; width: 7%;"></span><span
                                class="badge badge-light">9</span><br>
                            <span class="sr-only">unread messages</span>
                            whishlist</button>
                    




                </div>



            </div>
        </div>

        <div class="col-lg-2 col-sm-2">
           {{#if UserSession}}

            <div class="dropdown show" style=" height: ; max-width: 20%;">
                <a style="background-color:rgb(73, 46, 46);" class="btn btn-secondary dropdown-toggle" href="#"
                    role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <span><img style="width: 15%; margin-bottom: ;" src="images/NicePng_chen-png_3026464.png"
                            alt=""></span><br> <span style="margin-left: 13%;">Logged</span>
                </a>

                <div style="background-color:rgb(73, 46, 46); margin-right: 70px;  width: 10ch% "
                    class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a style="background-color:rgb(73, 46, 46); color: white;" class="dropdown-item" href="/UserProfile">MyAccount</a>
                    <a style="color:white ;" class="dropdown-item" href="/Logout">Logout</a>

                </div>
            </div>

            {{else}}

            
            <div class="dropdown show" style=" height: ; max-width: 20%;">
                <a style="background-color:rgb(73, 46, 46);" class="btn btn-secondary dropdown-toggle" href="#"
                    role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <span><img style="width: 15%; margin-bottom: ;" src="images/NicePng_chen-png_3026464.png"
                            alt=""></span><br> <span style="margin-left: 13%;">Signup</span>
                </a>

                <div style="background-color:rgb(73, 46, 46); margin-right: 70px;  width: 10ch% "
                    class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a style="background-color:rgb(73, 46, 46); color: white;" class="dropdown-item" href="#">Register</a>
                    <a style="color:white ;" class="dropdown-item" href="#">Login</a>

                </div>
            </div>
{{/if}}
        </div>


    </div>

</div>

</div>
{{#if User}}
<form action="/EditUserPage" method="post" enctype="multipart/form-data">

 <div class="row">
   <div class="col-lg-6 col-sm-6" >
       <div class="Profile_Div" >
          <img  src="/images/{{User.ProfilePicture}}" id="Photo" >
          <input type="file" id="file" name="ProfilePicture" accept="image/*" onchange="loadFile(event)">
          <label for="file" id="Upload_Button">Choose Photo</label>
       </div>
       
   </div>
 </div>

<div class="row" style="margin-top: 20%; margin-left: 3%; margin-bottom: 10%;" >
    <div class="col-lg-8 col-sm-12" style="">

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="{{User.UserDetails.Email}}" name="Email">
    </div>
 
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="{{User.UserDetails.Address}}" name="Address">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity" name="City" placeholder="{{User.UserDetails.City}}"> 
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control" name="State">
        <option selected>Choose...</option>
        <option>kerala</option>
        <option value="">Maharashtra</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip" name="Zip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" style="margin-left: 40%;">Save</button>



</div>
</div>




</form>
{{else}}

<form action="/EditUserPage" method="post" enctype="multipart/form-data">

 <div class="row">
   <div class="col-lg-6" >
       <div class="Profile_Div" >
          <img  src="/images/220px-Tovino_Thomas_At_The_‘Maari_2’_Press_Meet.jpg" id="Photo" onchange="loadFile(event)">
                 <input type="file" id="file" name="ProfilePicture" accept="image/*" onchange="loadFile(event)">
          <label for="file" id="Upload_Button">Choose Photo</label>
       </div>
       
   </div>
 </div>

<div class="row" style="margin-top: 20%; margin-left: 3%; margin-bottom: 10%;" >
    <div class="col-lg-8" style="">

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="Email">
    </div>
 
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="Address">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity" name="City"> 
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control" name="State">
        <option selected>Choose...</option>
        <option>kerala</option>
        <option value="">Maharashtra</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip" name="Zip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" style="margin-left: 40%;">Save</button>



</div>
</div>




</form>
{{/if}}
<style>

.Profile_Div{
    height: 140px;
    width: 140px;
  position: absolute;
    top: 40px;
    left: 70px;
    transform: translate(-50%-50%);
    margin-top: 5%;
    border-style: ;
    border-radius: 45%;
    
    




}
#Photo{
       height: 100% ;
       width: 100%;
       border-radius: 45%;
}

#file{
    display: none;
}

#Upload_Button{
    height: 40px;
    width: 110px;
    position: absolute;
    bottom: 0;
    left: 65%;
    transform: translateX(-70%);
    background: rgba(0,0,0, 0.7);
    color: wheat;
    line-height:35px;
    font-family: sans-serif;
    font-size: 15px;
       margin-bottom: 2%;
       border-radius: 70%;
       cursor: pointer;
       
}

</style>

<script>
  var loadFile = function(event) {
    var output = document.getElementById('Photo');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };

  </Script>